
html, body { 
	padding:0;
	margin:0;
	background-color:#bcaaa4; 
	font-size=62.5%;
	font-family:'noto sans','Microsoft Yahei','微软雅黑',sans-serif;
	overflow: hidden;
	width:100%;
	height:100%;}
p{
	font-size:2.4em;
	text-align: center;
}
.container{
	height:100%;
	width:100%;
	text-align: center;
	top:0;
	background-color:#91a7ff; 
}
.startset {
	width:50%;
	height:150px;
	text-align: center;
	line-height:1.6em;
	font-size:4.8em;
	box-shadow:5px 5px 5px #738ffe;
	border-radius: 8px;
	margin:10px auto;
	background-color:white;
	cursor:pointer;
}
.startset:hover{
	cursor:pointer;
	box-shadow:8px 8px 5px #738ffe;
	font-size:6.4em;
	line-height:1.4em;
	transition: all 200ms;
}
#top{
	display: inline-block;
	width:100%;
	height:100px;
	margin:0;
	padding:0;
	text-align: center;
	background-color:#4d73ff;
	}
.grid{
	position: fixed;
	background-color: #4d73ff;
	border-radius: 10px;
}
.row{
	text-align: left;
	overflow:hidden;
	height:25%;
	}
.cell{
	display: inline-block;
	width:20%;
	border-radius: 10px;
	background-color: white;
	text-align: center;
	font-size:3.6em;
	line-height: 1.9em;
	box-shadow:5px 5px 2px #738ffe;
	cursor:pointer;
}
.cell:hover{box-shadow:2px 2px 1px #738ffe;background-color: #fff59d;transition:all 200ms;}

.cell,.c1,.c2,.c3,.c4,{
	position:absolute;
	float:left;
/*	left:0;*/
}

.vv0{
	background-color:#d0d9ff;
	color:#d0d9ff;
	box-shadow:0 0 0 #123456;
}

.test{
	position:fixed;
	margin:5px;
	font-size:2.4em;
	width:150px;
	height:50px;
	text-align: center;
	box-shadow:5px 5px 5px #738ffe;
	border-radius: 8px;
	background-color:white;
	cursor:pointer;
	z-index:0;
}
#testB{left:160px;}